ion-content{--background: rgb(255, 247, 164); --background: linear-gradient(180deg, rgb(194, 184, 81) 0%, rgb(221, 200, 64) 100%);}
ion-grid {
    --ion-grid-column-padding: 20px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color:  #902dd3;
      text-align: center;
    //   font-weight: bold;
    }
    ion-col {
      border: 1px solid rgb(38, 29, 29);
      border-bottom: 0;
      border-right: 0;
    }
    ion-col:last-child {
      border-right: 1px solid black;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid black;
    }
  }