<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Country code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <div>
      <ion-button (click)="onClick()" class="ion-padding" shape="round">
        <ion-icon slot="start" name="id-card-outline"></ion-icon>
        Get Sim Info
      </ion-button>
    </div>


    <div class="aa">
      <!-- <span>{{info}}</span> -->

    </div>












    <!-- <strong>Ready to create an app?</strong>
    
    <ion-item *ngFor="let item of callingCountries1 ">
      <span>{{item.code}}</span>
    </ion-item>

    <ion-select >
      <ion-select-option *ngFor="let item of callingCountries1">
        {{item.code}} {{item.name}}
      </ion-select-option>
    </ion-select> -->


  </div>
</ion-content>